.calendar{
  .navigation{
    display: flex;
    justify-content: center;
  }
  .today{
    color: coral;
  }
  .selected{
    color: red;
  }
  .free{
    background: green;
  }
  .disturb{
    background: red;
  }
}